In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/datasets-py/crime.csv
/kaggle/input/datasets-py/Project5_Housing_Data.csv
/kaggle/input/datasets-py/Project8_Netflix_Dataset.csv
/kaggle/input/datasets-py/Project2-CarsDataset.csv
/kaggle/input/datasets-py/Project_Weather_Dataset.csv
/kaggle/input/datasets-py/Covid_19_data.csv
/kaggle/input/datasets-py/Project6_Census_2011.csv
/kaggle/input/datasets-py/Project7_Udemy_Dataset.csv

**DATA LOADING**

In [69]:
covid_df = pd.read_csv('/kaggle/input/datasets-py/Covid_19_data.csv')
covid_df.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

**DATA PREVIEWING**

In [70]:
# check the size/shape of the df
covid_df.shape

(321, 6)

In [71]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

In [72]:
covid_df.columns

Index(['Date', 'State', 'Region', 'Confirmed', 'Deaths', 'Recovered'], dtype='object')

In [73]:
covid_df.count()

Date         321
State        140
Region       321
Confirmed    321
Deaths       321
Recovered    321
dtype: int64

In [74]:
# check null values present in the column
covid_df.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [75]:
# Remove all the records where Confirmed Cases is Less Than 10.
covid_df = covid_df[~(covid_df.Confirmed < 10)]
covid_df.Confirmed.value_counts()

Confirmed
11       5
16       4
18       4
10       3
13       3
        ..
95       1
322      1
4321     1
38802    1
1268     1
Name: count, Length: 274, dtype: int64

In [76]:
#In which Region, maximum number of Confirmed cases were recorded ?
covid_df.groupby('Region').Confirmed.sum().sort_values(ascending = False).head(15)

Region
US                1039909
Spain              236899
Italy              203591
France             166536
UK                 166432
Germany            161539
Turkey             117589
Russia              99399
Iran                93657
Mainland China      82861
Brazil              79685
Canada              52860
Belgium             47859
Netherlands         38993
Peru                33931
Name: Confirmed, dtype: int64

In [85]:
# In which Region, minimum number of Deaths cases were recorded ?
covid_df.groupby('Region').Deaths.sum().sort_values().head(30)

Region
Cambodia                            0
Seychelles                          0
Saint Lucia                         0
Central African Republic            0
Saint Kitts and Nevis               0
South Sudan                         0
Rwanda                              0
Grenada                             0
Macau                               0
Madagascar                          0
Nepal                               0
Namibia                             0
Saint Vincent and the Grenadines    0
Mozambique                          0
Holy See                            0
Timor-Leste                         0
Mongolia                            0
Uganda                              0
Laos                                0
Eritrea                             0
Vietnam                             0
Fiji                                0
Dominica                            0
Gambia                              1
Equatorial Guinea                   1
Eswatini                            1
Cabo Verde                          1
Maldives                            1
Guinea-Bissau                       1
Liechtenstein                       1
Name: Deaths, dtype: int64

In [103]:
# How many Confirmed , Deaths & Recovered cases were reported from India till 29 April 2020 ?
covid_df[covid_df['Region'] == 'India'].loc[:,['Region','Confirmed','Deaths']]

   Region  Confirmed  Deaths
74  India      33062    1079

In [110]:
# sort data by column wise 
# sort the Recovered case by desending order

covid_df.sort_values(by = ['Recovered'], ascending = False).loc[:,['Region','Confirmed','Deaths', 'Recovered']].head(10)

             Region  Confirmed  Deaths  Recovered
153           Spain     236899   24275     132929
61          Germany     161539    6467     120400
76             Iran      93657    5957      73791
80            Italy     203591   27682      71252
229  Mainland China      68128    4512      63616
57           France     165093   24087      48228
167          Turkey     117589    3081      44040
22           Brazil      79685    5513      34132
158     Switzerland      29407    1716      22600
78          Ireland      20253    1190      13386